.container header {
    background-color: #FFD754;


}
.container #hero {
    background-image: url(images/%E8%83%8C%E6%99%AF.png);

}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,178,22,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,178,22,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,178,22,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,178,22,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.container .copyright {
    background-color: #FFD754;
}

.container .banner {
    background-image: url(images/%E8%83%8C%E6%99%AF.png);
}
.container #contact {
    background-image: url(images/%E8%83%8C%E6%99%AF.png);
}




.container header nav {
    background-color: #FFD754;
}
